/* - - - - - - - - - - Fonts - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* - - - - - - - - - - Variables - - - - - - - - - - */
:root {
    --color-text-ligth: white;
    --color-text-dark: black;
    --color-background: #101010;
    --color-background-second:#242424;
    --color-btn--primary: #02FFD1;
  }

/* - - - - - - - - - - Scroll - - - - - - - - - - */
.body::-webkit-scrollbar{
    width: 7px;
    
    background: var(--color-background);
}
.body::-webkit-scrollbar-thumb{
    background: var(--color-btn--primary);
    border-radius: 5px;
}

*{font-family: 'Poppins', sans-serif;}

/* - - - - - - - - - - H E A D E R - - - - - - - - - - */
header{
    min-height: 15vh;
}
.header__describe{
    min-height: 7vh;
}
nav{
    min-height: 7vh; 
    background-color: var(--color-background-second);   
    
}
.logo__nav{
    width: 130px;
}

.style_nav{
    margin: 0 1rem;
}

@keyframes bounce{
    30%{
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px) rotateX(25deg);

    }
}
.style_nav:hover{
    color: var(--color-text-ligth) !important;
    border: solid 1px white;
    animation: bounce 1s;
}

.active__nav{
    color: var(--color-text-ligth) !important;
    background-color: #383838 !important;
    border: solid 1px white;
}

.color_carousel{
    background-color: var(--color-background-second);
}

.carousel-item{
    margin: 0;
    text-align: center;
}
.carousel_header{
    height: 8vh;
}
/* - - - - - - - - - - M A I N - - - - - - - - - - */
main{
    min-height: 72.5vh;
    background-color: var(--color-background);
    background-image: url(https://pbs.twimg.com/media/Fd7PmkvWAAs_6t2?format=png&name=small);
}

.main__describe{
    min-height: 80.5vh;
}
#carouselControls{
    width: 90%;
}
#categorias{
    gap: 1rem;
    color: var(--color-text-ligth);
}


/* - - - - - - - - - - C A R T A S - - - - - - - - - - */


.card{
    background:#ffffff1c !important;
    width: 15rem;
    height: 26rem;
    color: var(--color-text-ligth);
}
.card_tarjeta{
    box-shadow: 1px 1px 5px rgba(52, 102, 98, 0.9);
    border-radius: 0;
    backdrop-filter: blur(1px);

}
.card_tarjeta:hover{
    transform: scale(1.02);
}
.card-body{
    height: 14rem;
}
.card-text{
    height: 60%;
}
.img-card{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 0;

}

.btn{
    width: 3rem !important;
    background: linear-gradient(#e06e90, #3ad093)  !important;

}

.btn:hover{
    background: linear-gradient(#1a5597,#e06e90)  !important;
    background-color: var(--color-btn--primary) !important;
    border: none;
    color: var(--color-text-ligth) !important;
    box-shadow: inset black -1px -1px 3px;
}
.btn_m{
    padding: 5px;
    border-radius: 5px;
    width: 3rem;
    background-color: #f7f7f710;
}

.btn_m:hover{
    transform: scale(1.15);
}

.btn_more{
    width: 25px;
}


.buscador{
    gap: .5rem;
    
}
#buscador{
    background-color: #383838 !important;
    color: var(--color-text-ligth);
}
.container__error{
    color: var(--color-text-ligth);
    width: 500px;
    padding: 0;
}
/* - - - - - - - - - - C O N T A C T - - - - - - - - - - */
#contenido_contact{
    min-height: 72.8vh;
}
.form__contact{
    width: 40%;   
    padding: 1rem;
}
.contenedor_contact{
    width: auto;
    height: 100%;
    color: var(--color-text-ligth);
}
.contenedor_contact p{
    width: 80%;
}
.img__contact{
    width: 80%;
}
.form__contact label{
    margin-top: 1rem;
}
.form__contact input,textarea{
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    margin-bottom: 1rem;
    height: 2.5rem;
    background-color: #4C4C4C;
    width: 80%;
    color: var(--color-text-ligth);
}
.inputs2{
    width: 80%;
    gap: 1rem;
}


.btn-submit{
width: 8rem !important;
    text-align: center;

}
.input__mesagge{
    min-height: 7rem;
    margin-bottom: 1rem;
}

/* - - - - - - - - - - D E T A I L S - - - - - - - - - - */
#main__describe{
    min-height: 81vh;
}
.cart_detail{
    width: 80%;
    height: 70vh;
    background:rgb(225, 225, 225,0.2) !important;
    
    backdrop-filter: blur(2px);
}

.img_details__c{
    width: 20%;
    height: 80%;
}

.img-detail{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details_content{
    gap: 5px;
    justify-content: space-evenly;
}
.details_content p{
    width: 40%;
}
.texto_details{
    position: relative;
    width: 60%;
    height: 60%;
    padding: 0 5px;
}
.detailsDesc{
    width: 80%;
    align-self: center;
}
.texto_details h4{
margin: 10px;
}

/* - - - - - - - - - - S T A T S - - - - - - - - - - */
#stat__content{
    min-height: 73vh;
}
table, th, tr{
    border: solid 1px black;
}
table{
    width: 70% !important;
    padding: 0  !important;
}
th{
    
    font-size: 15px;
    background-color: rgba(240, 248, 255, 0.233) !important;
}
.title{
    background-color: #132d4659 !important;
}
/* - - - - - - - - - - S U B M I T - - - - - - - - - - */
.header__submit{
    min-height: 9vh;
}


.main__submit{
    min-height: 91vh;
}
.thanks{
    width: 60%;
}
.main__submit img{
    width: 100%;
}
.container_img{
    width: 50%;
}

/* - - - - - - - - - - B O T O N C I T O  U  P - - - - - - - - - - */

.go-top-container{
    position: fixed;
    bottom: 2rem;
    right: -2rem !important;
    width: 5rem;
    height: 5rem;
    z-index: -1;
}
.go-top-button{
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button img{
    position: absolute;
    top: 48%;
    left: 50%;
    width: 5rem;
    transform: translate(-50%, -50%);
    color: var(--color-text-ligth);
}
.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 6rem;
    height: 6rem;
    z-index: 11;
}

.show i{
    transform: translate(-50%, -50%) scale(1);

}


@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6.6rem;
        height: 6.6rem;
    }
}

/* - - - - - - - - - - F O O T E R - - - - - - - - - - */

footer{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem 0 1rem;
    background-color: var(--color-background-second) !important;
}


.icon__footer{
    width: 50px;
    color: var(--color-text-ligth);
}
.size{
    width: 80%;
}
/* - - - - - - - - - - M E D I A  Q U E R Y - - - - - - - - - - */


@media screen and (max-width: 950px){
    #contenido-index, #contenido-upcomming, #contenido-past{
        width: 100%;
        padding: 1rem !important;
    }
    #main__describe{
        padding: .5rem;
     }
     #contenido_contact{
        flex-direction: column-reverse;
        align-content: center;
     }
    .nav-item{
        margin: .1rem;
        text-align: center;
    }
    .cart_detail{
        display: flex;
        justify-content: center !important;
        align-items: center;
        width: 80%;
        height: auto;
        flex-direction: column; 
    }
    
    .img_details__c{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        padding-top: 1rem;
    }
    .img_detail{
        width: 100% ;
        height: 100%;
        object-fit: cover;
    }
    .texto_details{
        width: 90%;
        padding: .5rem;
    }

    .details_content{
       justify-content: space-between;
    }
    .details_content p{
        padding: 0 !important;
        margin-bottom: .5rem !important;

    }

    .form__contact{
        width: 90%;
        
    }
    table{
        width: 90% !important;
        padding: 0  !important;
    }
    .icon__footer{
        width:40px ;
    }

    .go-top-container{
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        
    }
    .go-top-button img{
        
        width: 4rem;
        
    }
}

@media screen and (max-width: 450px){
    #contenido-index, #contenido-upcomming, #contenido-past{
        padding: 3 !important;
    }
   
    footer{
        flex-direction: column;
        padding: .5rem;
        text-align: center;
    }
    .form__contact{
        width: 100%;
        
    }
    #carouselControls{
        width: 100%;
    }
    .card{
        margin: .1rem 0;
    }

    .card__details{
        margin: 2rem;
        padding: 0 !important;
        width: 100% !important;
        height: auto;
        flex-direction: column !important;
    }
    
    .img_details__c{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 1rem;
    }
    
    .texto_details{
        width: 90%;
        padding: .5rem;
    }
    
   
    

}